<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>It's like life: you don't get anything for nothing.</ion-card-subtitle>
      <ion-card-title>Your Gross Salary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">Annual Salary</ion-label>
        <ion-input 
        [ngModel]="annualWage"  
        (ngModelChange)="annualWage=$event"
        clearInput="true"        
        type="text"
        inputmode="numeric"
        autofocus="true"
        autocomplete="on"
        required="true"
        (keydown.enter)="computeAnnualWage($event)"
        (keypress)="validateOnlyNumbers(this)"
        ng-enter="doBlur($event)"
        >
        </ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Currency</ion-label>
          <ion-select multiple="true" cancelText="Nah" okText="Okay!">
              <ion-select-option value="CHF" selected>CHF (best ever)</ion-select-option>
              <!---
              <ion-select-option value="EUR">EUR (most intervened ever)</ion-select-option>
              <ion-select-option value="SEK">SEK (sexy but weak)</ion-select-option>
              <ion-select-option value="USD">USD (federal debt relief instrument)</ion-select-option>

              --->
            </ion-select>         
        </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
