<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>It's like life: you don't get anything for nothing.</ion-card-subtitle>
      <ion-card-title>Your Gross Salary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Annual Wage or Bill</ion-label>
        <ion-input 
        [ngModel]="annualWage"  
        (ngModelChange)="annualWage=$event"
        clearInput="true"        
        type="text"
        inputmode="numeric"
        autofocus="true"
        autocomplete="on"
        required="true"
        (keyup)="saveSettings($event)"
        (keydown.enter)="doBlur($event)"
        (keypress)="validateOnlyNumbers(this)"
        ng-enter="doBlur($event)"
        >
        </ion-input>
      </ion-item>

        <ion-item>
            <ion-label position="floating">Working Hours per Day</ion-label>
            <ion-input 
            [ngModel]="hoursPerDay"  
            (ngModelChange)="hoursPerDay=$event"
            clearInput="true"        
            type="text"
            inputmode="numeric"
            autocomplete="on"
            required="true"
            (keyup)="saveSettings($event)"
            (keydown.enter)="doBlur($event)"
            (keypress)="validateOnlyNumbers(this)"
            ng-enter="doBlur($event)"
            >
            </ion-input>
        </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
