<ion-header>
  <ion-toolbar>
    <ion-title>
      Rattling your Coins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
      <ion-card-header>
        <ion-card-subtitle>Life is good! You're making some coins.</ion-card-subtitle>
        <ion-card-title>Current Earnings in {{currency}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p ngClass="earnings">  </p>

        <ion-list>
          <ion-item>
              <ion-label>
                Since AppStart {{current | number : '1.2-2' }}
                <div>since {{this.appStart | date : 'hh:mm:ss'}}</div>
              </ion-label>
              <ion-icon slot="end" color="medium" name="refresh" (click)="resetAppStart()"></ion-icon>
              <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item>
              <ion-label>
                Today {{today | number : '1.2-2' }}
                <div>since 08:00</div>
              </ion-label>
              <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <!---<ion-item>
              <ion-label>
                This week
              </ion-label>
              <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item>
              <ion-label>
                This month
              </ion-label>
              <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          --->
      </ion-list>

      </ion-card-content>
    </ion-card>

    <!---
    
    --->

</ion-content>
