<ion-header>
  <ion-toolbar>
    <ion-title>
      Rattling your Coins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
      <ion-card-header>
        <ion-card-subtitle>
            Life is good! You're making some coins. 
        </ion-card-subtitle>
        <ion-card-title>Live-Earnings</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        
          <ng-template [ngIf]="!isOfficeHours()" [ngIfElse]="workingHours">
           
              Regular workings hours are from eight to five. I suggest you stop being greedy for today.
              If you cannot, there are statistics about your hercules- further down the page. Provided that you supplied your annual . 
              Otherwise Live-Earnings will compute again at 08:00 in the morning.
            </ng-template>

            <ng-template #workingHours>
                <ion-list>
                    <ion-item>
                        <ion-label (click)=presentEarningsModal() [className]="'selectable'" title="Click to focus on daily coin rattling." mat-raised-button
                        matTooltip="Info about the action">
                            {{currency}} {{current | number : '1.2-2'}}
                            <div>since {{this.appStart | date : 'HH:mm:ss'}}</div>
                        </ion-label>
                        <ion-button (click)="resetAppStart()" color="light">
                            <ion-icon slot="icon-only" name="refresh"></ion-icon>
                        </ion-button>                        
                        <ion-reorder slot="end"></ion-reorder>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                          {{currency}} {{today | number : '1.2-2' }}
                          <div>Today since 08:00</div>
                        </ion-label>
                        <ion-reorder slot="end"></ion-reorder>
                    </ion-item>                
                </ion-list>
            </ng-template>          
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Because statistics matter. </ion-card-subtitle>
          <ion-card-title>Statistics</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                      Annual  {{this.settings.annualWage | number : '1.2-2' }}                
                    </ion-label>                          
                </ion-item>
                <ion-item>
                    <ion-label>
                      Monthly  {{this.perMonth | number : '1.2-2' }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                      Weekly  {{this.perWeek | number : '1.2-2' }}                      
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                      Daily  {{this.perDay | number : '1.2-2' }}
                      <div>computed by 220 working days</div>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                      Hourly  {{this.perHour | number : '1.2-2' }}
                      <div>computed by {{this.settings.hoursPerDay}}h a day</div>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                       by a Minute {{this.perMinute | number : '1.2-2' }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                       by a Second {{this.perSecond | number : '1.2-2' }}
                    </ion-label>
                </ion-item>
                
            </ion-list>
        </ion-card-content>
      </ion-card>

   

</ion-content>
