<ion-header>
  <ion-toolbar>
    <ion-title>
      Credits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Dedicated the well-paid consultants working for the Swiss government.</ion-card-subtitle>
          <ion-card-title>Purpose: my Personal Passive Protest</ion-card-title>
        </ion-card-header>
        <ion-card-content> 
          <h2>The Observation</h2>         
          I was always puzzled how we at the Swiss government fail to keep performing IT staff. 
          It angers me that not just innovators and cracks, but also the average Joe quits his employment and to return as 
          high-waged<sub>1</sub> consultants at another federal org unit. 
          It's a reoccuring pattern and it stinks<sub>2</sub>.
          <h2>A Utopian Proposal</h2>
          <p>
          I suggest, we fail to compensate in an adequate way. <i>Adequate</i> is subjective? not necesarrily. A environment where there is no common 
          understanding why one salary is higher than an other, baits misunderstanding, makes workers feel treated biased. Subsequently, 
          if we don't bring arguments and salary rule sets to the surface
          we can NOT expect a common understanding. If employees with lower salary cannot understand why their salary is composed to a lower salary than
          the one from a comparable collegue, discontent will arise and resistance will sprout. Despite transparency ask for a hight effort, it's worth it.
          <br />
          It also offers to let go of employees that grumble and moan for neglectable loan difference of a few pennies. This group will NOT perform, 
          not even after a salary rise or adjustment. It's a chance to let got of them, while there is a chance to keep the performers and maybe
          come to an agreement after understanding THEIR perspectives. And yes, I have seen wage-limits breach after calm discussions, 
          where solid work over years proceeded the talk.
        </p>

        <h2>Don't feel offended</h2>
        <p>After all my protest is neither meant personal nor targets individuals. It merely trails my enduring hope of finding a contemporary   way 
          for the government and inspiring knowledge workers to persist as a team. All for Operational Excellence, so that tax payers more likely <i>enjoys</i> Paying
        her/his tax bill.</p>
        <br />
        <div class="references">
          <p>
            1) If you are a consultant, don't come up with the counter saying <i>Yes, but we have lots of expenses!</i>
            We have done the math many times. I suggest we skip it and can consiliantly agree that most of consultants are royaly rewared for your service
            in merely a different suit.
          <br />
            2) If you ask me in provocation but legit: <i>So, why are you not a consultant then?!</i> Yes, because I like the comfort and the feeling of security. Paying my mortgage and running after contracts. 
            And I think the government pays a fair - in most cases. I don't want to constantly ask others for more. Moderation is virtue, not a handicap.
            And btw, the Swiss government turned into a modern employeer that in many aspects values the performance of their experts.
          </p>
        </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Release Information</ion-card-subtitle>
            <ion-card-title>Development</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Developed by Brayan Svan (Maidenname Zimmerli)
            Version 0.2.1
          </ion-card-content>
        </ion-card>

</ion-content>
